# VC++ crap
*.suo
*.vcxproj.user
*.sdf
*.opensdf
*.VC.db
**/Debug/
.idea
# Xcode crap
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
build/

# linux build output
platforms/linux/*/bin/
platforms/linux/*/obj/
cmake-build-debug/
